{% for item in cart %}
<div class="cart-item">
    {% if '/media/' in item.image or 'media/' in item.image %}
        <img src="{{ item.image }}" width="80" alt="">
    {% else %}
        <img src="/static/{{ item.image }}" width="80" alt="">
    {% endif %}
    <div style="flex:1;margin:15px;">
        <h4>{{ item.name }}</h4>
        <p>KES {{ item.price }}</p>
    </div>
    <div style="display: flex; align-items:center; gap: 10px;">
        <button 
            hx-post="{% url 'update_cart' %}" 
            hx-target="#cart-items-list"
            hx-swap="innerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-vals='{"action":"decrease","name":"{{ item.name }}"}'
            style="padding: 1px 4px;"
            >-</button>

        <strong>{{ item.quantity }}</strong>

        <button 
            hx-post="{% url 'update_cart' %}" 
            hx-target="#cart-items-list"
            hx-swap="innerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-vals='{"action":"increase","name":"{{ item.name }}"}'
            style="padding: 1px 4px"
            >+</button>

        <button 
            hx-post="{% url 'remove_item' %}" 
            hx-target="#cart-items-list"
            hx-swap="innerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-vals='{"name":"{{ item.name }}"}'
            style="color: red; border: none; background: none;"
>
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>
{% empty %}
<p>Your cart is empty</p>
{% endfor %}

<!-- Out of band swap for total -->
<p id="cart-total" hx-swap-oob="true">Total: <strong>KES {{ total }}</strong></p>

<!-- Out of band swap for order number -->
<div id="order-number" hx-swap-oob="true">
{% if order and cart %}
<p><strong>Order Number:</strong> #{{ order.id }}</p>
{% endif %}
</div>
