{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set A New Password</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    <div class="container">
        <div class="auth-card">
            <h2>Create a new Password</h2>
            <input type="password" placeholder="Enter New Password">
            <input type="password" placeholder="Confirm Password">
            <button class="submit">Reset Password</button>
        </div>
    </div>
</body>
</html>