<h2>Set new Password</h2>

{% if form.non_field_errors %}
    <div style="color: red; margin-bottom: 10px;">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<form method="post">
        {% csrf_token %}
        <div style="margin-bottom: 12px;">
            <label>Enter new password</label><br>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <div style="color: red;">{{ form.new_password1.errors }}</div>
            {% endif %}
        </div>
        <div style="margin-bottom: 12px;">
            <label>Confirm Password</label><br>
            {{ form.new_password2}}
            {% if form.new_password2.errors %}
                <div style="color: red;">{{ form.new_password2.errors }}</div>
            {% endif %}
        </div>
        <button type="submit">Submit</button>
</form>