body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ececec;
   
}
.hero-section {
    display: flex;
    justify-content: space-between;
    margin: 5px 35px;
    border-bottom: 1px solid #ccc;
}
.btn-hero {
    background-color: #ececec;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}
.btn-hero:hover {
    background-color: #ccc;
}


.auth-card {
    background: white;
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin: 50px 400px;
    

}


.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px; 
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.login-btn {
    background-color: black;
    padding: 10px;
    border: 0;
    border-radius: 7px;
    font-size: 1rem;
    letter-spacing: 1px;
    color: white;
    margin-top: 10px;
    
}
a {
    text-decoration: none;
    color: black;
    margin-top: 15px;
}


.btn {
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
    align-items: center;
}

.success {
    color: green;
    font-weight: bold;
    padding: 10px;
}
.error {
    color: red;
    font-weight: bold;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #ffcccc;
}




.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.modal {
    background: white;
    padding: 24px;
    border-radius: 8px;
    width: 100%;
    max-width: 360px;
    position: relative;
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 20px;
    border: none;
    background: 0;
}
