
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}





.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}
.topnav#myLinks {
    display: block;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}










 a {
    text-decoration: none;
    color: black;
}
/* HERO */
.hero-section {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 70px;
    margin-right: 70px;

    
}
.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.hero-btn {
    font-size: larger;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.left-items {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-icons {
    display: flex;
    gap: 35px;
    margin-left: auto;
  
    
}
.hero-icons img {
    width: 20px;
    height: 20px;

}

.hero-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner-image {
    display: block;
    width: 100%;
    height: 800px;
    object-fit: cover;
    filter: brightness(50%);
}

.hero-banner .banner-text {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    color: white;
    letter-spacing: 3px;
    font-weight: 200;


}
.hero-banner2  {
    background-color: #ec455c;
    padding: 199px;
    min-height: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    position: relative; /* ensure banner text doesn't overlay header */
}
.hero-banner2 .banner-text2 {
     position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 200;
    font-weight: bolder;
}

.btn-banner {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 15px 30px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}
.btn-banner img {
    width: 20px;
    height: 20px;
}
.btn-banner:hover {
    background-color: aqua;
}
.btn-banner.btn2:hover {
    background-color: goldenrod;
}

.btn-subs:hover {
    background-color:chartreuse;
}
.email {
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
}
/* BANNERS */
.banner-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
}

.banner-card {
    position: relative;
}

.banner-card img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.banner-text {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    
}
.banner-text h1 {
    font-size: 4rem;
    font-weight: bold;
}
/* FEATURED PRODUCTS */
.featured-section {
    padding: 30px;
    text-align: center;
}
.featured-women {
    display: flex;
    justify-content: space-between;
    color: #04AA6D;
    
    
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
    margin-top: 20px;
}
.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 7px;
    overflow: hidden;
}
.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
    display: block;
    transition: transform 0.3s ease-in-out;
}
.product-card img:hover {
    transform: scale(1.1);
}

.subs {
    margin-top: 30px;
    padding: 50px 20px;
    text-align: center;
    background-color: #ddd;
}

.footer {
    display: flex;
    gap: 80px;
    margin: 20px;
}

.footer-section {
    background-color: #000;
    color: #fff;
    padding: 30px 20px;
}

.footer-section hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.footer-section p {
    margin: 10px 0;
    
}

.cartBtn {
    background-color: #333;
    padding: 10px 40px;
    border: none;
    border-radius: 7px;
    color: #fff;
}
.cartBtn:hover {
    background-color: green;
}